<meta http-equiv="refresh" content="30" />
<div class="site-wrapper">
	<div class="site-wrapper-inner">
		<div class="cover-container">
			<div class="masthead clearfix">
				<div class="inner">
					<h3 class="masthead-brand">Farmer</h3>
				</div>
			</div>
			<div class="inner cover">
				<h1 class="cover-heading">Node is running XX workers</h1>
				<p class="lead"><%= request.host %></p>
			</div>
			<div class="mastfoot">
				<div class="inner">
					<p>Loaded at <%= Time.now %></p>
				</div>
			</div>
		</div>
	</div>
</div>
