<meta http-equiv="refresh" content="30" />
<div class="site-wrapper">
	<div class="site-wrapper-inner">
		<div class="cover-container">
			<div class="masthead clearfix">
				<div class="inner">
					<h3 class="masthead-brand">Farmer</h3>
				</div>
			</div>
			<div class="inner cover">
				<h1 class="cover-heading">Node</h1>
				<h3 class="cover-heading"><%= Socket.gethostname %></h3>
				<hr>
				<h1 class="cover-heading">Manager</h1>
				<h3 class="cover-heading"><%= @manager %></h3>
				<hr>
				<p class="lead"><%= @nodes_count %> running workers</p>
			</div>
			<div class="mastfoot">
				<div class="inner">
					<p>Updated at <%= Time.now %></p>
				</div>
			</div>
		</div>
	</div>
</div>
